{{#if resume.education}}
{{#>section title=(sectionTitle resume "education" "Education")}}
	{{#each resume.education}}
	<div class="item">
		<div class="item__head">
			<h4 class="item__title">
				{{this.area}}
			</h4>
			<h5 class="item__subtitle">
				{{this.studyType}} — {{this.institution}}
			</h5>
			<h5 class="item__subtle">
				{{this.startDate}} ─ {{this.endDate}}
			</h5>
		</div>
		{{#if this.gpa}}
		<div>
			<strong>Score:</strong> <i>{{this.gpa}}</i>
		</div>
		{{/if}}
		{{#if this.courses}}
		<div class="item__content">
			<ul>
				{{#each this.courses}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
		{{/if}}
	</div>
	{{/each}}
{{/section}}
{{/if}}