<header class="c-container py-3">
	<div class="columns is-gapless">
		<div class="column">
			<h1 class="title has-text-weight-bold">{{name}}</h1>
			<h3 class="subtitle is-italic">{{label}}</h3>
		</div>
		<div class="column">
			<div class="columns is-justify-content-space-around">
				{{#if profiles}}
				<div class="column is-narrow">
					{{#each profiles}}
					{{#eq (lowercase this.network) "twitter"}}
					<div class="columns is-gapless is-align-items-center m-0">
						<div class="column is-narrow">
							<span class="icon"><i class="fab fa-twitter"></i></span>
						</div>
						<div class="column ml-2">
							<a href="{{this.url}}" target="_blank">
								{{this.username}}
							</a>
						</div>
					</div>
					{{/eq}}
					{{#eq (lowercase this.network) "instagram"}}
					<div class="columns is-gapless is-align-items-center m-0">
						<div class="column is-narrow">
							<span class="icon"><i class="fab fa-instagram"></i></span>
						</div>
						<div class="column ml-2">
							<a href="{{this.url}}" target="_blank">
								{{this.username}}
							</a>
						</div>
					</div>
					{{/eq}}
					{{#eq (lowercase this.network) "github"}}
					<div class="columns is-gapless is-align-items-center m-0">
						<div class="column is-narrow">
							<span class="icon"><i class="fab fa-github"></i></span>
						</div>
						<div class="column ml-2">
							<a href="{{this.url}}" target="_blank">
								{{this.username}}
							</a>
						</div>
					</div>
					{{/eq}}
					{{/each}}
				</div>
				{{/if}}
				<div class="column is-narrow">
					{{#if website}}
					<div class="columns is-gapless is-align-items-center m-0">
						<div class="column is-narrow">
							<span class="icon"><i class="fas fa-link"></i></span>
						</div>
						<div class="column ml-2">
							<a href="{{website}}" target="_blank">
								{{website}}
							</a>
						</div>
					</div>
					{{/if}}
					{{#if email}}
					<div class="columns is-gapless is-align-items-center m-0">
						<div class="column is-narrow">
							<span class="icon"><i class="far fa-envelope"></i></span>
						</div>
						<div class="column ml-2">
							<a href="mailto:{{email}}">
								{{email}}
							</a>
						</div>
					</div>
					{{/if}}
					{{#if phone}}
					<div class="columns is-gapless is-align-items-center m-0">
						<div class="column is-narrow">
							<span class="icon"><i class="fas fa-phone"></i></span>
						</div>
						<div class="column ml-2">
							<a href="tel:{{phone}}">
								{{phone}}
							</a>
						</div>
					</div>
					{{/if}}
					{{#if location}}
					<div class="columns is-gapless is-align-items-center m-0">
						<div class="column is-narrow">
							<span class="icon"><i class="fas fa-map-marker-alt"></i></span>
						</div>
						<div class="column ml-2">
							{{#or location.address location.city}}
							<p>
								{{location.address}} {{location.city}}
							</p>
							{{/or}}
							{{#or location.postalCode location.region location.countryCode}}
							<p>
								{{location.postalCode}} {{location.region}} {{location.countryCode}}
							</p>
							{{/or}}
						</div>
					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</header>