{{#if volunteer}}
{{#>section title="Volunteer Work"}}
	{{#each volunteer}}
	<div class="item">
		<div class="item__head">
			<h4 class="item__title">
				{{this.position}}
			</h4>
			<h5 class="item__subtitle">
				{{this.organization}}
			</h5>
			<h5 class="item__subtle">
				{{this.startDate}} ─ {{this.endDate}}
			</h5>
		</div>
		<div class="item__content">
			{{#if this.summary}}
			<p>
				{{this.summary}}
			</p>
			{{/if}}
			{{#if this.highlights}}
			<ul>
				{{#each this.highlights}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
	</div>
	{{/each}}
{{/section}}
{{/if}}